body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: #ffffff;
}

.container {
  max-width: 750px;
  margin: auto;
  padding: 40px 20px;
}

.card {
  background: #1a1a1a;
  padding: 25px;
  border-radius: 12px;
  margin-top: 20px;
  border: 1px solid #333;
}

input, textarea, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #4c6ef5;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

button:hover {
  opacity: 0.9;
}
